{% extends '_layout.html' %}

{% block body %}
    <body>
        <nav class="navbar navbar-dark navbar-edition">
            <a class="navbar-exit" href="{{ url_for('home.home') }}">
                <img class="navbar-exit-icon" src="{{ url_for('static', filename='img/icon/back.png') }}">
            </a>
            <h1 class="navbar-brand">Ajouter une transaction</h1>
        </nav>
        <form action="/add_data" method="POST" class="form">
            <div class="form-entry">
                <img src="{{ url_for('static', filename='img/icon/loupe.png') }}" alt="">
                <select id="name" name="name" type="text">
                        <option value="default">Sélectionner une crypto</option>
                    {% for data in crypto_list %}
                        <option data-price="{{ data.value }}" value="{{ data.name }}">{{ data.symbol }} {{ data.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-entry">
                <img src="{{ url_for('static', filename='img/icon/coin.png') }}" alt="">
                <input class="form-entry-input" type="number" min="0" id="quantity" step="any" placeholder="Quantité" name="quantity" pattern="^([0-9]+([.][0-9]*)?|[.][0-9]+)$" required>
            </div>
            <div class="form-entry">
                <img src="{{ url_for('static', filename='img/icon/euro.png') }}" alt="">
                <input class="form-entry-input" type="number" id="price" step="any" placeholder="Prix d'achat" name="price" pattern="^([0-9]+([.][0-9]*)?|[.][0-9]+)$" required>
            </div>
            <div class="submit">
                <button type="submit" class="submit-btn btn">
                    AJOUTER
                </button>
            </div>
        </form>
        <script src="{{ url_for('static', filename='js/getMoneyValue.js') }}"></script>
    </body>
{% endblock %}